body{
    height:3000px;
}
.sidebar{
    position: fixed;
    background-color: green;
    top:0px;
    bottom: 0px;
    right: 0px;
    width:100px;
    z-index: 1;
}
.overlay{
    background-color:rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 300px;
    background-color:white;
    padding: 15px;
    border-radius: 5px;

}
.modal-title{
    font-family: arial;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 24px;
}
}
.modal-content{
    font-family: arial;
    margin-bottom: 12px;
}