p{
    margin-top: 0;
    margin-bottom: 0;
}
.main-container{
    display: grid;
    grid-template-columns:300px 300px 300px;
    column-gap: 20px;

}

.name{
    font-size: 20px;
    font-weight: bold;
    margin-left:8px;
    margin-bottom: 1px;
}
.img{
    width:300px;
    height:300px;
    object-fit: cover;
    margin-bottom: 12px;
}
.img-profile{
    width:25px;
    height:25px;
    border-radius: 13px;
    object-fit: cover;
    margin-bottom: 12px;
    display: inline-block;
}
.text{
    color:rgb(100,100,100);
    margin-left:8px;
    margin-bottom: 12px;
    font-size: 18px;
}
.image-profile{
    margin-left: 10px;
}
.image-profile,
.profile-stats{
    display: inline-block;
    vertical-align: top;
}
.div-button{
margin-left: 10px;
}
.button{
    font-weight: bold;
    color: white;
    background-color: rgb(121, 121, 241);
    padding:14px 28px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}
.button:hover{
    box-shadow: 5px 5px 6px rgba(0,0,0,0.3);
}
.button:active{
    color:rgb(121, 121, 241);
    background-color: white;
}
.div-profile{
    margin-top: 10px;
}