.container{
    border:  1px solid rgb(202, 197, 197);
    border-radius: 8px;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.button{
    padding:1px 8px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: rgb(71, 71, 250);
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;

}
.text{
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
}