.red{
    width:100px;
    height:100px;
    background-color: red;
    display:inline-block;
    margin-right: 40px;
}
.green{
    width:100px;
    height:100px;
    background-color: green;
    border-radius: 50px;
    display:inline-block;
}